<html>
<head>
  <title>Printable</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link rel="stylesheet" media="all" href="printable.css">
</head>
<body id="board">

  <!-- template for the layer component. -->
  <script type="text/x-template" id="layyer-template">
    <shape v-for="shape in layer.shapes" :shape="shape" />
  </script>

  <!-- template for the shape component. -->
  <script type="text/x-template" id="shape-template">

    <rect v-if="shape.name=='rect' && !shape.removed" v-bind:data-id="shape.id" v-bind:x="shape.x" v-bind:y="shape.y" v-bind:width="shape.width" v-bind:height="shape.height" v-bind:fill= "shape.selected? 'rgb(70,180,200)' : '#333333'" stroke="#333333" stroke-width="1px" />
    <circle v-if="shape.name=='circle' && !shape.removed" v-bind:data-id="shape.id" v-bind:cx="shape.cx" v-bind:cy="shape.cy" v-bind:r="shape.r" v-bind:fill="shape.selected? 'rgb(70,180,200)' : '#333333'" stroke="#333333" stroke-width="1px" />
    <line v-if="shape.name=='line' && !shape.removed" v-bind:data-id="shape.id" v-bind:x1="shape.x1" v-bind:y1="shape.y1" v-bind:x2="shape.x2" v-bind:y2="shape.y2" v-bind:stroke="shape.selected? 'rgb(70,180,200)' : '#333333'" stroke-width="5"/>
  </script>

  <div class="canvas-wrap">
    <svg class="canvas"  viewbox="{{viewBox}}" v-on:mousedown="onBoardMouseDown" v-on:mouseup="onBoardMouseUp"  v-on:mousemove="onBoardMouseMove">

      <template v-for="n in 60">
        <line v-if="showGrid" :x1="viewBoxX" :y1="(n+1)*10 + (Math.floor(viewBoxY / 10)*10)" :x2="viewBoxX + viewBoxWidth" :y2="(n+1)*10 + (Math.floor(viewBoxY / 10)*10)" stroke="#333333" stroke-width="1"/>
      </template>

      <template v-for="n in 60">
        <line v-if="showGrid" :x1="(n+1)*10 + (Math.floor(viewBoxX / 10)*10)" :y1="viewBoxY" :x2="(n+1)*10 + (Math.floor(viewBoxX / 10)*10)" :y2="viewBoxY + viewBoxHeight" stroke="#333333" stroke-width="1"/>
      </template>
      
      <layyer v-for="layer in layers" :layer="layer" />

      <line v-if="tool == 'measure'" v-bind:x1="measurex1" v-bind:y1="measurey1" v-bind:x2="measurex2" v-bind:y2="measurey2" stroke="rgb(70,180,200)" stroke-width="4"/>

    </svg>
  </div>

  <div class="menu-nav">
    <ul class="parent-menu">
      <li v-on:click="toggleMenu('file')">
        <span>File</span>
        <ul v-show="topmenu == 'file'">
          <li v-on:click="onTool('dumpSVG')"> Dump SVG </li>
          <li v-on:click="onTool('dumpSVG')"> Dump PNG </li>
          <li v-on:click="onTool('dumpCSV')"> Dump CSV </li>
          <li v-on:click="onTool('dumpJSON')"> Dump JSON </li>
          <li v-on:click="onTool('loadJSON')"> Load JSON </li>
        </ul>
      </li>
      <li v-on:click="toggleMenu('edit')">
        <span>Edit</span>
        <ul v-show="topmenu == 'edit'">
          <li v-on:click="onTool('gridify')"> Gridify </li>
          <li v-on:click="onTool('normalize')"> Normalize </li>
          <li v-on:click="onTool('measure')"> Measure </li>
          <li v-on:click="onTool('select')"> Select </li>
          <li v-on:click="onTool('delete')"> Delete </li>
        </ul>
      </li>
      <li v-on:click="toggleMenu('layer')">
        <span>Layers</span>
        <ul v-show="topmenu == 'layer'">
          <li class="split" v-on:click="newLayer">New</li>
          <li v-on:click="onTool('moveLayer')">Move</li>
          <li v-on:click="deleteLayer">Delete</li>
        </ul>
      </li>
      <li v-on:click="toggleMenu('geometry')">
        <span>Geometry</span>
        <ul v-show="topmenu == 'geometry'">
          <li v-on:click="onTool('rectangle')">Rectangle</li>
          <li v-on:click="onTool('circle')">Circle</li>
          <li v-on:click="onTool('line')">Line</li>
        </ul>
      </li>
      <li v-on:click="toggleMenu('view')">
        <span>View</span>
        <ul v-show="topmenu == 'view'">
          <li v-on:click="onTool('zoomin')"> Zoom In </li>
          <li v-on:click="onTool('zoomout')"> Zoom Out </li>
          <li v-on:click="onTool('pan')"> Pan </li>
          <li v-on:click="onTool('grid')"> Grid </li>
        </ul>
      </li>
      <li class="hide">
        <span>Sign up</span>
        <div class="form" v-show="topmenu == 'signup'">
          <input type="text" class="white" placeholder="Email" id="login-email-input">
          <input type="password" class="white" placeholder="Password" id="login-passwd-input" h="">
          <button id="submit-login" class="blue">Sign in</button>
        </div>
      </li>
      <li class="hide">
        <span>Sign in</span>
        <div class="form" v-show="topmenu == 'signin'">
          <p>
            test here
            </p>
          <input type="text" class="white" placeholder="Email" id="login-email-input">
          <input type="password" class="white" placeholder="Password" id="login-passwd-input" h="">
          <button id="submit-login" class="blue">Sign in</button>
        </div>
      </li>
      <li class="hide">
        <span>Output</span>
        <div class="form" v-show="topmenu == 'output'">
          <input type="text" class="white" placeholder="Email" id="login-email-input">
          <textarea></textarea>
        </div>
      </li>

    </ul>
  </div>

  <div id="tool-palette">
    <div class="tool-button" tool="offset" v-on:click="onTool('offset')">
      <div class="tool-info">{{offsetX + viewBoxX}},{{offsetY + viewBoxY}} : {{viewBox}}</div>
    </div>
    <div class="tool-button" tool="cursor" v-on:click="onTool('select')">
      <div class="tool-info">Cursor
        <div class="shortcut">V</div>
      </div>
    </div>
    <div class="tool-button" tool="ellipse" v-on:click="onTool('circle')">
      <div class="tool-info">Circle
        <div class="shortcut">L</div>
      </div>
    </div>
    <div class="tool-button" tool="rectangle" v-on:click="onTool('rectangle')">
      <div class="tool-info">Rectangle
        <div class="shortcut">M</div>
      </div>
    </div>
    <div class="tool-button" tool="line" v-on:click="onTool('line')">
      <div class="tool-info">Line
        <div class="shortcut">\</div>
      </div>
    </div>
    <div class="tool-button" tool="zoom" v-on:click="onTool('zoom')">
      <div class="tool-info">tool: {{tool}} 
        <div class="shortcut">Z</div>
      </div>
    </div>
    <div class="tool-button" tool="delete" v-on:click="onTool('delete')">
      <div class="tool-info">Delete
      </div>
    </div>
    <div class="tool-button" tool="pan" v-on:click="onTool('pan')">
      <div class="tool-info">Pan
      </div>
    </div>
    <div class="tool-button" tool="dump" v-on:click="onTool('dumpSVG')">
      <div class="tool-info">Dump SVG
      </div>
    </div>
    <div class="tool-button" tool="dump" v-on:click="onTool('dumpPNG')">
      <div class="tool-info">Dump PNG
      </div>
    </div>
    <div class="tool-button" tool="dump" v-on:click="onTool('dumpCSV')">
      <div class="tool-info">Dump CSV
      </div>
    </div>
    <div class="tool-button" tool="dump" v-on:click="onTool('dumpJSON')">
      <div class="tool-info">Dump JSON
      </div>
    </div>
    <div class="tool-button" tool="dump" v-on:click="onTool('loadJSON')">
      <div class="tool-info">Load JSON
      </div>
    </div>
  </div>


  <div class="utilities">
    <div class="utilities-col ut-col-left">

      <div v-if="tool=='measure'" class="utility-window adjust">
        <div class="prop">
          <div class="adjust-val-label">dx</div>
          <input type="text" class="" value="{{measurex2 - measurex1}}">
        </div>
        <div class="prop">
          <div class="adjust-val-label">dx</div>
          <input type="text" class="" value="{{measurey2 - measurey1}}">
        </div>
      </div>

      <div v-if="obj.name=='rect'" class="utility-window adjust">
        <div class="prop">
          <div class="adjust-val-label">x</div>
          <input type="text" class="" v-model="obj.x">
        </div>
        <div class="prop">
          <div class="adjust-val-label">y</div>
          <input type="text" class="" v-model="obj.y">
        </div>
        <div class="prop">
          <div class="adjust-val-label">width</div>
          <input type="text" class="" v-model="obj.width">
        </div>
        <div class="prop">
          <div class="adjust-val-label">height</div>
          <input type="text" class="" v-model="obj.height">
        </div>
      </div>

      <div v-if="obj.name=='circle'" class="utility-window adjust">
        <div class="prop">
          <div class="adjust-val-label">cx</div>
          <input type="text" class="" v-model="obj.cx">
        </div>
        <div class="prop">
          <div class="adjust-val-label">cy</div>
          <input type="text" class="" v-model="obj.cy">
        </div>
        <div class="prop">
          <div class="adjust-val-label">r</div>
          <input type="text" class="" v-model="obj.r">
        </div>
      </div>

      <div v-if="obj.name=='line'" class="utility-window adjust">
        <div class="prop">
          <div class="adjust-val-label">x1</div>
          <input type="text" class="" v-model="obj.x1">
        </div>
        <div class="prop">
          <div class="adjust-val-label">y1</div>
          <input type="text" class="" v-model="obj.y1">
        </div>
        <div class="prop">
          <div class="adjust-val-label">x2</div>
          <input type="text" class="" v-model="obj.x2">
        </div>
        <div class="prop">
          <div class="adjust-val-label">y2</div>
          <input type="text" class="" v-model="obj.y2">
        </div>
      </div>


      <div class="utility-window stroke-width hide">
        <div id="stroke-width-preview" style="opacity: 1; height: 1px; top: 29px;"></div>
        <div id="no-stroke-width-hint" style="opacity: 0;">(no stroke)</div>
        <div inputholder="" id="stroke-width">
          <input type="text" class="white small" id="stroke-width-val" h="" value="1">
          <label for="stroke-width-val" class="white">px</label>
        </div>
      </div>
    </div>
    <div class="utilities-col ut-col-right">
      <div class="utility-window archive">
          <div id="archive-thumbs-screen">
            <div id="archive-thumbs">

            <div v-for="layer in layers" v-on:click="selectLayer($event, layer)" class="archive-thumb" position="7">
              <svg viewbox="0 0 600 600" :class="layer.active ? 'active' : '' " >
                <layyer :layer="layer" />
              </svg>
            </div>

            </div>
          </div>
      </div>
    </div>
  </div>

<input type="file" name="fileField" id="fileField" class="hide">

  <script src="build.js"></script>
</body>
</html>