body {
  font-family: Maven Pro, 'Maven Pro';
  font-size: 14px;
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: #f7f7f7;
}

.hide {
  display: none !important;
}

.canvas-wrap {
  width: 600px;
  height: 600px;
  margin: 0;
  position: absolute;
  top: 100px;
  left: 200px;
  background: white;
}

.canvas {
  width: 600px;
  height: 600px;
  margin: 0;
}

.menu-nav {
  position: absolute;
  left: 100px;
  top: 20px;
}

.menu-nav {
  ul.parent-menu {
    list-style: none;
  }

  ul.parent-menu > li > ul, ul.parent-menu > li > .form {
    /*display: none;*/
    /*display: block;*/
  }

  ul.parent-menu > li:hover > ul {
    display: block;
  }

  ul.parent-menu > li > ul:hover {
    display: block;
  }


  ul.parent-menu > li {
    margin-left: 15px;
    cursor: url('assets/images/cursors/cursor.png') 1 1, default !important;
    position: relative;
    display: inline-block;
  }

  ul.parent-menu > li > span {
    width: 100%;
    height: 100%;
    padding: 9px 10px;
    background: rgba(234, 234, 234, 0.92);
  }

  ul.parent-menu > li > ul {
    list-style: none;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    margin-top: 40px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(220, 220, 220, 0.92);
    background: rgba(234, 234, 234, 0.92);
  }

  ul.parent-menu > li > ul > li{
    padding: 9px;
    padding-right: 45px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    min-width: 85px;
  }

  ul.parent-menu > li > ul > li.disabled {
    color: #818181;
  }

  ul.parent-menu > li > ul > li.split {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(220, 220, 220, 0.92);
  }

  ul.parent-menu > li > ul > li > .shortcut {
    position: absolute;
    top: 9px;
    right: 9px;
    margin-left: 10px;
    opacity: 0.5;
  }

}

.menu-nav .form {
  right: 0;
  position: absolute;
  white-space: nowrap;
  display: block;
  padding: 0;
  top: 41px;
  left: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(220, 220, 220, 0.92);
  background: rgba(234, 234, 234, 0.92);
  min-width: 200px;

  p {
    color: black;
    white-space: normal;
    font-weight: 400;
    text-align: left;
    margin: 10px;
  }

  button {
    display: block;
    position: static;
    margin: 10px;
    width: 175px;
    padding: 7px;
  }

  input {
    width: 70px;
    background: white;
    padding: 7px;
    font-size: 12px;
    margin-left: -1px;
    font-family: Maven Pro, 'Maven Pro';
    border: none;
    border-bottom: 1px solid rgba(220, 220, 220, 0.92);
    text-align: right;
  }

  input {
    text-align: left;
    width: 175px;
    display: block;
    border-bottom: 1px solid rgba(220, 220, 220, 0.92);
    margin: 10px 10px 0px 10px;
  }

  textarea {
    display: block;
    text-align: left;
    width: 175px;
    border: 1px solid rgba(220, 220, 220, 0.92);
    margin: 10px 10px 10px 10px;
    height: 55px;
  }

}


.red {
  background-color: rgba(250, 176, 179, 0.92)!important;
  border-bottom-color: rgba(228, 146, 148, 0.92) !important;
}

#tool-palette {

  .tool-button[tool="cursor"] {
    background-image: url('assets/images/cursors/cursor.png') !important;
    background-repeat: no-repeat;
    background-position: 14px 10px;
  }
  .tool-button[tool="pen"] {
    background-image: url('assets/images/cursors/type-a.png') !important;
    background-repeat: no-repeat;
    background-position: 13px 8px;
  }
  .tool-button[tool="crayon"] {
    background-image: url('assets/images/cursors/crayon.png') !important;
    background-repeat: no-repeat;
    background-position: 12px 8px;
  }
  .tool-button[tool="ellipse"] {
    background-image: url('assets/images/cursors/ellipse.png') !important;
    background-repeat: no-repeat;
    background-position: 10px 9px;
  }
  .tool-button[tool="rectangle"] {
    background-image: url('assets/images/cursors/rectangle.png') !important;
    background-repeat: no-repeat;
    background-position: 10px 9px;
  }
  .tool-button[tool="line"] {
    background-image: url('assets/images/cursors/line.png') !important;
    background-repeat: no-repeat;
    background-position: 10px 9px;
  }
  .tool-button[tool="rotate"] {
    background-image: url('assets/images/cursors/rotate.png') !important;
    background-repeat: no-repeat;
    background-position: 10px 9px;
  }
  .tool-button[tool="type"] {
    background-image: url('assets/images/cursors/olivetti.png') !important;
    background-repeat: no-repeat;
    background-position: 8px 9px;
  }
  .tool-button[tool="eyedropper"] {
    background-image: url('assets/images/cursors/eyedropper.png') !important;
    background-repeat: no-repeat;
    background-position: 10px 9px;
  }
  .tool-button[tool="zoom"] {
    background-image: url('assets/images/cursors/loupe.png') !important;
    background-repeat: no-repeat;
    background-position: 10px 9px;
  }
  .tool-button[tool="eyedropper"] {
    background-image: url('assets/images/cursors/eyedropper.png') !important;
    background-repeat: no-repeat;
    background-position: 10px 9px;
  }

}

#tool-palette .tool-button {

    width: 36px;
    height: 35px;
    background-repeat: no-repeat;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(220, 220, 220, 0.92);
    cursor: url('assets/images/cursors/cursor.png') 1 1, default !important;
    margin-left: 20px;
    margin-bottom: 5px;
    position: relative;
    background: rgba(234, 234, 234, 0.92);

  .tool-info {
    position: absolute;
    white-space: nowrap;
    top: 0;
    left: 50px;
    padding: 9px;
    padding-right: 45px;
    border-bottom: 1px solid rgba(220, 220, 220, 0.92);
    background: rgba(234, 234, 234, 0.92);
  }

  .tool-info .shortcut {
    position: absolute;
    top: 9px;
    right: 9px;
    margin-left: 10px;
    opacity: 0.5;
  }

}

#tool-palette {
  position: fixed;
  left: 0;
  top: 100px;
  z-index: 9990;
}




.utilities {
    position: absolute;
    top: 100px;
    right: 0;
    padding: 10px;
}

.utilities .utilities-col {
    float: left;
    height: 100%;
}

.utilities .utilities-col.ut-col-right {
    margin-left: 10px;
}

.utilities .utility-window {
    position: relative;
    margin-bottom: 10px;
    background-color: rgba(234, 234, 234, 0.92);
    border-bottom: 1px solid rgba(220, 220, 220, 0.92);
    cursor: url('assets/images/cursors/cursor.png') 1 1, default !important;
    z-index: 6000;
}




.utilities .utility-window.stroke-width {
  width: 205px;
  height: 60px;
  margin-left: 40px;
}

.utilities .utility-window.stroke-width #stroke-width-preview {
  width: 105px;
  height: 1px;
  background: black;
  position: absolute;
  left: 10px;
  top: 30px;
}

.utilities .utility-window.stroke-width #stroke-width {
  top: 14px;
  right: 10px;
}

.utilities .utility-window div[inputholder] {
  position: absolute;
}

.utilities .utility-window div[inputholder] input {
  display: inline-block;
}

.utilities .utility-window.stroke-width #stroke-width input {
  width: 50px;
}

.utilities .utility-window input.white, textarea.white {
  width: 70px;
  background: white;
  padding: 7px;
  font-size: 12px;
  margin-left: -1px;
  font-family: Maven Pro, 'Maven Pro';
  border: none;
  border-bottom: 1px solid rgba(220, 220, 220, 0.92);
  text-align: right;
}

.utilities .utility-window label.white {
  background: white;
  padding: 7px 7px 7px 0px;
  margin-left: -7px;
  font-size: 12px;
  font-family: Maven Pro, 'Maven Pro';
  border: none;
  border-bottom: 1px solid rgba(220, 220, 220, 0.92);
  color: #949494;
}


.utilities .utility-window.archive {
  width: 150px;
  padding: 10px;
}

.utilities .utility-window.archive #archive-thumbs-screen {
  width: 150px;
  overflow-x: hidden;
}

.utilities .utility-window.archive #archive-thumbs-screen #archive-thumbs {
  width: 165px;
  height: 510px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.utilities .utility-window.archive #archive-thumbs-screen #archive-thumbs .archive-thumb {
  width: 150px;
  min-height: 20px;
  cursor: pointer;
  margin: 10px 0;
}

.utilities .utility-window.archive #archive-thumbs-screen #archive-thumbs .archive-thumb svg {
  background: white;
}

.utilities .utility-window.archive #archive-thumbs-screen #archive-thumbs .archive-thumb svg.active {
  border: 3px solid rgb(70, 180, 200);
}

.utilities .utility-window.archive div[empty] {
  color: rgba(0, 0, 0, 0.6);
  margin: 230px auto;
  margin-right: 25px;
  text-align: center;
  width: 80%;
}


.utilities .utility-window.archive #archive-thumbs-screen #archive-thumbs .archive-thumb:first-child {
  margin-top: 0;
}

.utilities .utility-window.archive #archive-controls {
  height: 60px;
  position: relative;
}

.utilities .utility-window.archive #archive-controls #archive-slider-label {
  color: rgba(0, 0, 0, 0.75);
  width: 100%;
  text-align: center;
  position: absolute;
  top: 12px;
  left: 0;
}

.utilities .utility-window.archive #archive-controls #archive-steps-slider {
  width: 250px;
  position: absolute;
  top: 35px;
  left: 0px;
}

.utilities .utility-window.archive #archive-controls #archive-steps-slider #archive-steps-slider-track {
  position: absolute;
  width: 100px;
  left: 25px;
  top: 9px;
}



.utilities .adjust {
  width: 200px;
  height: 160px;
  margin-left: 40px;
}
.utilities .adjust .adjust-val-label {
  display: inline-block;
  padding: 5px;
  padding-left: 20px;
  width: 30px;
}
.utilities .adjust input {
  width: 120px;
  margin: 5px;
  margin-left: 5px;
  background: white;
  display: inline-block;
  padding: 7px;
  font-size: 12px;
  margin-left: -1px;
  font-family: Maven Pro, 'Maven Pro';
  border: none;
  border-bottom: 1px solid rgba(220, 220, 220, 0.92);
  text-align: right;
}
